[
  {
    "filename": "example-game.jar",
    "name": "Game Mẫu",
    "jadFile": null,
    "icon": null,
    "settings": {
      "phone": "Nokia",
      "width": "240",
      "height": "320",
      "sound": "on",
      "rotate": "off",
      "fontSize": "0",
      "dgFormat": "8888",
      "forceFullscreen": "off",
      "textureDisableFilter": "off",
      "queuedPaint": "off"
    }
  }
]
